* {
    margin: 0;
    padding: 0;
}

body {
    padding: 0;
    margin: 0;
}

main {
    display: flex;
    flex-direction: row-reverse;
    overflow: hidden;
    height: 100vh;
    .content {
        width: 100%;
        overflow-y: hidden;
        overflow-y: scroll;
        padding: 2em;
        img {
            width: 5em;
        }
    }
}