@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400;500;600;700;800&display=swap');
* {
    margin: 0;
    padding: 0;
}

body {
    padding: 0;
    margin: 0;
}

::selection {
    background-color: #F55D3E;
}

::-webkit-scrollbar {
    display: none;
}

main {
    display: flex;
    flex-direction: row-reverse;
    overflow: hidden;
    height: 100vh;
    .canvas {
        position: relative;
        display: flex;
        button {
            position: absolute;
            border: none;
            margin: 1em;
            cursor: pointer;
            display: flex;
            align-items: center;
            border-radius: 10em;
            background-color: #b4b4b4;
            padding: 1em;
            transition: 250ms;
            &:hover {
                background-color: #b4b4b4be;
            }
            top: 50%;
            &:nth-child(2) {
                right: 0;
            }
        }
    }
    .content {
        width: 100%;
        overflow-y: hidden;
        overflow-y: scroll;
        .scroll_text {
            color: #F55D3E;
            display: flex;
            align-items: center;
            font-family: 'Syne', sans-serif;
            font-weight: 800;
            position: absolute;
            bottom: 3em;
            right: 3em;
            transform: translateY(150px);
        }
        section {
            display: flex;
            padding: 0 2em;
            align-items: center;
            height: 100%;
            position: relative;
            &:nth-child(2) {
                background-color: #F55D3E;
                color: #fff;
                .scroll_text {
                    color: #fff;
                    font-weight: 600;
                    font-size: 1.5em;
                    span {
                        font-size: 1em;
                        text-decoration: underline;
                    }
                    transform: translateY(150px);
                }
            }
            &:nth-child(3) {
                align-items: center;
                flex-direction: column;
                h1 {
                    margin: 2em 0;
                    color: rgb(245, 93, 62);
                }
                .tabl {
                    width: 100%;
                    .tabl_row {
                        display: flex;
                        cursor: pointer;
                        .row {
                            font-family: 'Syne', sans-serif;
                            font-weight: 400;
                            display: flex;
                            font-size: 1.2em;
                            justify-content: center;
                            width: 100%;
                        }
                        .underline {
                            text-decoration: underline;
                        }
                        &:hover {
                            color: blue;
                        }
                    }
                }
            }
            .overflow {
                overflow: hidden;
                h1 {
                    font-family: 'Syne', sans-serif;
                    font-weight: 800;
                    font-size: 4em;
                    transform: translateY(calc(100% + 50px));
                }
            }
        }
    }
}

.material-symbols-outlined {
    font-variation-settings: 'FILL' 0, 'wght' 700, 'GRAD' 0, 'opsz' 48
}